@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1e20;
  --foreground: #faf4ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #faf4ea;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}
